
/// Regular font family
/// @type List
$font-family:'DM Sans', sans-serif !default;


/// Copy text color
/// @type Color
$header-color: linear-gradient(344deg, #fdfcf9 21%, #edcef4 100%);
$heading-color: rgba(252, 251, 248, 0.8) !default;
$body-color: rgba(107, 107, 107, 100) !default;
$footer-color: rgba(79, 79, 79, 100) !default;
$placeholder-color: rgba(141, 141, 141, 100) !default;
$btn-txt-color: rgba(255, 255, 255, 100) !default;

// width
$f-width: 100%;
$h-width: 50%;

/// Link & btn color
/// @type Color
$btn-color: rgba(102, 78, 252, 100) !default;
